body {
    background-color: rgb(221, 229, 231);;
}

.title {
    border: 2px solid powderblue;
    margin: 30px;
    padding: 20px;
    align-content: center;
}

.images {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    width:40%;
    height:auto;
}